<h1>
  A new request to register a facility has been received
</h1>

<p><span>Name:</span> <%= fields.name %></p>
<p><span>Phone:</span> <%= fields.phone %></p>
<p><span>Email:</span> <%= fields.email %></p>
<p><span>License Number:</span> <%= fields.licenseNumber %></p>
<p><span>Type:</span> <%= fields.type %></p>
<p><span>Message:</span> <%= fields.message %></p>